header{
    display:flex;
    justify-content:space-between;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #37424c;
    color: #eee;
    font-size: 16px;
    border-color: #aaa;
  }
  header a{
    text-decoration:none;
    color: inherit;
  }
  header a.logo{
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 8px;
  }
  header nav{
    display:flex;
    align-items: center;
    gap: 8px;
  }
  .username-header {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;

  }
  .button-header {
    border: none;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    font-weight: 300;
  }
  .create-new, .logout-user {
    color: #333333;
    background-color: #cccccc;
    transition: 0.3s;
  }
  .button-header:hover {
    cursor: pointer;
    font-weight: bold;
  }
  @media only screen and  (max-width: 550px) {
    header {
        display:flex;
        flex-direction: column;
        gap: 30px;
    }
    header nav {
      display: flex;
      flex-direction: column;
    }
    header a.logo {
      margin-left: 0;
  }
}