.create-post{
    max-width: 800px;
    margin: 0 auto;
  }
  .create-post-title {
    font-size: 24px;
    font-weight: 300;
  }
  .create-post-button {
    color: white;
    background-color: #37424c;
    transition: 0.3s;
    margin-top: 5px;
    float: right;
  }
  .create-post-button:hover {
    font-weight: bold;
  }